#export-btn {
    background-color: #04AB45;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.cell-row {
    display: flex;
}

.cell {
    width: 80px;
    border: 1px solid lightgrey;
    height: 40px;
    outline: none;
    box-sizing: border-box;
}

.cell:focus {
    background-color: #ddd;
    border: 3px solid lightblue;
}

.cell.header {
    text-align: center;
    background-color: #ccc;
}

.cell.header.active {
    background-color: lightblue;
    color: white;
}